@import "tailwindcss";
@import "material-symbols";

:root {
  --background: #F5F5F5;
  --foreground: #383838;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-brand: var(--font-brand);
  --font-sans: var(--font-sans);
  --color-gray-50: #FCFCFD;
  --color-gray-100: #F4F4F6;
  --color-gray-200: #E3E5E9;
  --color-gray-300: #D5D8DD;
  --color-gray-400: #B9BDC6;
  --color-gray-500: #9DA3AF;
  --color-gray-600: #818998;
  --color-gray-700: #676F7E;
  --color-gray-800: #505762;
  --color-gray-900: #393E46;
  --color-gray-950: #32363E;

  --color-blue-50: #F5FAFE;
  --color-blue-100: #E6F1FC;
  --color-blue-200: #C2DCF8;
  --color-blue-300: #91C0F3;
  --color-blue-400: #61A5ED;
  --color-blue-500: #0C74E4;
  --color-blue-600: #026ADA;
  --color-blue-700: #004EBE;
  --color-blue-800: #0034A4;
  --color-blue-900: #001B8B;
  --color-blue-950: #000171;

  --color-orange-50: #FFF8F5;
  --color-orange-100: #FFE3DA;
  --color-orange-200: #FFBEA8;
  --color-orange-300: #FF9977;
  --color-orange-400: #FF7445;
  --color-orange-500: #FF4507;
  --color-orange-600: #F53B00;
  --color-orange-700: #D91F00;
  --color-orange-800: #A60000;
  --color-orange-900: #730000;
  --color-orange-950: #400000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer components {
  .text-display-L-brand {
    @apply text-[64px] leading-[80px] font-brand font-semibold;
  }

  .text-display-M-brand {
    @apply text-[48px] leading-[60px] font-brand font-semibold;
  }

  .text-display-S-brand {
    @apply text-[40px] leading-[52px] font-brand font-semibold;
  }

  .text-headline-L-brand {
    @apply text-[32px] leading-[40px] font-brand font-semibold;
  }

  .text-headline-M-brand {
    @apply text-[28px] leading-[36px] font-brand font-semibold;
  }

  .text-headline-S-brand {
    @apply text-[24px] leading-[32px] font-brand font-semibold;
  }

  .text-title-L-brand {
    @apply text-[20px] leading-[32px] font-brand font-semibold;
  }

  .text-title-M-brand {
    @apply text-[16px] leading-[24px] font-brand font-semibold;
  }

  .text-title-S-brand {
    @apply text-[14px] leading-[20px] font-brand font-semibold;
  }

  .text-body-L-brand {
    @apply text-[16px] leading-[24px] font-brand font-semibold;
  }

  .text-body-M-brand {
    @apply text-[14px] leading-[20px] font-brand font-semibold;
  }

  .text-body-S-brand {
    @apply text-[12px] leading-[16px] font-brand font-semibold;
  }

  .text-label-L-brand {
    @apply text-[14px] leading-[20px] font-brand font-semibold;
  }

  .text-label-M-brand {
    @apply text-[12px] leading-[16px] font-brand font-semibold;
  }

  .text-label-S-brand {
    @apply text-[10px] leading-[16px] font-brand font-semibold;
  }

  .text-display-L-general {
    @apply text-[64px] leading-[80px] font-sans font-normal;
  }

  .text-display-M-general {
    @apply text-[48px] leading-[60px] font-brand font-normal;
  }

  .text-display-S-general {
    @apply text-[40px] leading-[52px] font-brand font-normal;
  }

  .text-headline-L-general {
    @apply text-[32px] leading-[40px] font-sans font-normal;
  }

  .text-headline-M-general {
    @apply text-[28px] leading-[36px] font-sans font-normal;
  }

  .text-headline-S-general {
    @apply text-[24px] leading-[32px] font-sans font-normal;
  }

  .text-title-L-general {
    @apply text-[20px] leading-[32px] font-sans font-normal;
  }

  .text-title-M-general {
    @apply text-[16px] leading-[24px] font-sans font-medium;
  }

  .text-body-L-general {
    @apply text-[16px] leading-[24px] font-sans font-normal;
  }

  .text-body-M-general {
    @apply text-[14px] leading-[20px] font-sans font-normal;
  }

  .text-body-S-general {
    @apply text-[12px] leading-[16px] font-sans font-normal;
  }

  .text-label-L-general {
    @apply text-[14px] leading-[20px] font-sans font-medium;
  }

  .text-label-M-general {
    @apply text-[12px] leading-[16px] font-sans font-medium;
  }

  .text-label-S-general {
    @apply text-[10px] leading-[16px] font-sans font-medium;
  }
}
